*.[oa]
*.dll
*.zip
*.tar.gz
*.tar
*.tgz
trash/
*.pyc
*~
examples/*/*.txt
examples/*/*.log
examples/*/*.bak
examples/*/*/*.txt
examples/*/*/*.log
examples/*/*/*.bak
examples/*/fort*
examples/von\ Melanie/
config.ini