*.[oa]
*.dll
*.zip
*.tar.gz
*.tar
*.tgz
trash/
*.pyc
*~

build/

examples/*/output/
examples/*/*.log
examples/*/*.bak
examples/*/*/*.log
examples/*/*/*.bak
examples/*/fort*
examples/*/fdmfile.txt
examples/*/fdmnes_error.txt
examples/Von\ Melanie/
config.ini