*.[oa]
*.dll
*.zip
*.tar.gz
*.tar
*.tgz
trash/
*.pyc
*~
*.egg-info
*.txt

build/

examples/*/output/
examples/*/*.log
examples/*/*.bak
examples/*/*/*.log
examples/*/*/*.bak
examples/*/fort*
examples/*/fdmfile.txt
examples/*/fdmnes_error.txt
examples/Von\ Melanie/
fdmnes/config.ini

